.contact-icons{
    font-size: 48px !important;
    color: #0c54ad !important;
    margin-bottom: 2.2rem !important;
    margin-top: 1rem !important;
}

/* .form_custom div > *{
    display: flex;
    width: 100% !important;
}
.form_custom div{
    display: flex;
    width: 100% !important;
} */
input,textarea{
    /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0; */
    padding: 10px 20px !important;
    border: 1px solid #ccc !important;
    border-radius: 0 !important;
    color: #3d5368 !important;
    font-size: 14px !important;
}
input:focus{
    /* background: rgba(0, 0, 0, 0) none repeat scroll 0 0; */
    border: 1px solid #ccc !important;
}
.form_custom div{
    margin-bottom: .4rem;
}
    
input:last-child{
    width: fit-content;
    padding: 13px 22px !important;
    border: 1px solid #0c54ad !important;
    border-radius: 0 !important;
    color: white !important;
    font-size: 17px !important;
    background: #0c54ad;
    border-radius: 3px !important;
}
input:last-child:hover{
    width: fit-content;
    padding: 13px 22px !important;
    border: 1px solid #0c54ad !important;
    border-radius: 0 !important;
    color: #0c54ad !important;
    font-size: 17px !important;
    background: transparent;;
}
    